
<div class="container">
  <div class = "text">
    <span class="title">Employee Management System</span>
    <div class="byName">
      <span>By Machidon Andrei</span>
    </div>
    
  </div>

  <div class="description">
    <p>&nbsp;&nbsp;&nbsp;Hello! My name is Andrei and this is one of my first full-stack applicaion. This is an employee management application with CRUD functionalities.</p>
    <p>&nbsp;&nbsp;&nbsp;You can create a new employee in the "Add employee" tab in the Navbar.</p>
    <p>&nbsp;&nbsp;&nbsp;You can see a table of all employees and make various operations in the "Employee List" tab.</p>
  </div>
</div>


